{
:profiles {:goku{:default true :sim 50 :delay 80 :alone 120 :held 70}}

:devices {:utech [{:vendor_id 1241 :product_id 64597}]}

:applications {:vwx ["^net\\.nemetschek\\.vectorworks$"]}

:simlayers 	{
		:w-mode {:key :w}  ;; open applications
		:o-mode {:key :o}  ;; "Okey Alred"
		:v-mode {:key :v}} ;; VWX hotkeys

:main [
	{:des "Map numbers on gaming mouse to VWX views"
		:rules [[:1 :keypad_1 [:utech :vwx]]  ;; Left iso
			[:2 :keypad_2 [:utech :vwx]]  ;; Front							
			[:3 :keypad_3 [:utech :vwx]]  ;; Right iso
			[:4 :keypad_4 [:utech :vwx]]  ;; Left
			[:5 :keypad_5 [:utech :vwx]]  ;; Top
			[:6 :keypad_6 [:utech :vwx]]  ;; Right
			[:7 :keypad_7 [:utech :vwx]]  ;; Left rear iso
			[:8 :keypad_8 [:utech :vwx]]  ;; Rear
			[:9 :keypad_9 [:utech :vwx]]] ;; Right rear iso
	}
	{:des "Open applications with W"
		:rules [:w-mode
			[:t "open -a terminal"]
			[:v "open -a 'vectorworks 2020'"]
			[:o "open -a 'microsoft outlook'"]
			[:b "open -a 'brave browser'"]
			[:s "open -a 'sublime text'"]]
	}
	{:des "Vectorworks shortcuts on gaming mouse with V"
		:rules  [:v-mode 
			[:1 :!Oequal_sign [:utech :vwx]] ;; Rotate Tool
			[:3 :!SOCp [:utech :vwx]] 	 ;; Compose
			[:2 :!SCw [:utech :vwx]] 	 ;; Render as wireframe
			[:4 :!Ol [:utech :vwx]]		 ;; Connect/Combine Tool
			[:5 :!SCg [:utech :vwx]]] 	 ;; Render as OpenGL
	}
]}

;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
