{
:profiles {:goku{:default true :sim 50 :delay 80 :alone 120 :held 70}}

:devices {:utech [{:vendor_id 1241 :product_id 64597}]}

:applications {
	:vwx ["^net\\.nemetschek\\.vectorworks$"]
	:qlab ["^com\\.figure53\\.QLab\\.4$"]
	:logic ["^com\\.apple\\.logic10$"]
	:brave ["^com\\.brave\\.Browser$"]
}

:templates {
	:launch "open -a \"%s\""
}

:simlayers 	{
		:w-mode {:key :w}				;; open applications
		:o-mode {:key :o}				;; "Okey Alred"
		:v-mode {:key :v}				;; VWX hotkeys
		:caps-mode {:key :caps_lock}	;; caps super mod
}

:main [
	;; w-mode
	{:des "Open applications with W"
		:rules [:w-mode
			[:t "open -a terminal"]
			[:v "open -a 'vectorworks 2020'"]
			[:o "open -a 'microsoft outlook'"]
			[:b "open -a 'brave browser'"]
			[:s "open -a 'sublime text'"]
		]
	}

	;; Vectorworks
	{:des "Map numbers on gaming mouse to VWX views"
		:rules [
			[:1 :keypad_1 [:utech :vwx]]	;; Left iso
			[:2 :keypad_2 [:utech :vwx]] 	;; Front							
			[:3 :keypad_3 [:utech :vwx]] 	;; Right iso
			[:4 :keypad_4 [:utech :vwx]] 	;; Left
			[:5 :keypad_5 [:utech :vwx]] 	;; Top
			[:6 :keypad_6 [:utech :vwx]] 	;; Right
			[:7 :keypad_7 [:utech :vwx]] 	;; Left rear iso
			[:8 :keypad_8 [:utech :vwx]] 	;; Rear
			[:9 :keypad_9 [:utech :vwx]]	;; Right rear iso
		]
	}
	{:des "Vectorworks shortcuts with V"
		:rules  [:v-mode 
			[:1 :!Oequal_sign [:utech :vwx]]	;; Rotate Tool
			[:3 :!SOCp [:utech :vwx]]			;; Compose
			[:2 :!SCw [:utech :vwx]]			;; Render as wireframe
			[:4 :!Ol [:utech :vwx]]				;; Connect/Combine Tool
			[:5 :!SCg [:utech :vwx]]			;; Render as OpenGL
			[:z :!SCOz [:vwx]]					;; Custom selection
		]
	}

	;; Qlab
	{:des "Qlab cues with gaming mouse"
		:rules [
			[:1 :!C1 [:utech :qlab]]		;; Audio
			[:2 :!C2 [:utech :qlab]]		;; Mic
			[:3 :!C3 [:utech :qlab]]		;; Video
			[:4 :!C4 [:utech :qlab]]		;; Camera
			[:5 :!C5 [:utech :qlab]]		;; Text
			[:6 :!C6 [:utech :qlab]]		;; Light
			[:7 :!C7 [:utech :qlab]]		;; Fade
			[:8 :!C8 [:utech :qlab]]		;; Network
			[:9 :!C9 [:utech :qlab]]		;; MIDI
			[:0 :!C0 [:utech :qlab]]		;; Group
			;;[:keypad_plus :C11 [:utech :qlab]]
			;;[:keypad_hyphen :C12 [:utech :qlab]]
		]
	}

	;; Logic Pro X
	{:des "Logic Pro X shortcuts with gaming mouse"
		:rules [
			[:1 :!Cu [:utech :logic]]	;; Loop selection to selected clip
			[:2 :!Cb [:utech :logic]]	;; Bounce
		]
	}

	;; Brave
	{:des "Brave shortcuts with gaming mouse"
		:rules [
			[:1 :!Copen_bracket [:utech :brave]]	;; Page back
			[:3 :!Cclose_bracket [:utech :brave]]	;; Page forward
		]
	}

	;; Misc.
	{:des "Cap Lock > SCO"
		:rules [:caps-mode
			[:a :!SOCa]
			[:b :!SOCb]
			[:c :!SOCc]
			[:d :!SOCd]
			[:e :!SOCe]
			[:f :!SOCf]
			[:g :!SOCg]
			[:h :!SOCh]
			[:i :!SOCi]
			[:j :!SOCj]
			[:k :!SOCk]
			[:l :!SOCl]
			[:m :!SOCm]
			[:n :!SOCn]
			[:o :!SOCo]
			[:p :!SOCp]
			[:q :!SOCq]
			[:r :!SOCr]
			[:s :!SOCs]
			[:t :!SOCt]
			[:u :!SOCu]
			[:v :!SOCv]
			[:w :!SOCw]
			[:x :!SOCx]
			[:y :!SOCy]
			[:z :!SOCz]
		]
	}
]}

;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
